.projects{
    height: 90vh;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    text-align: center;
}

.projects a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
}